<configuration debug="false">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%level] [%thread] [%logger] {%msg}%n</pattern>
		</encoder>
	</appender>

	<appender name="logfile" class="ch.qos.logback.core.FileAppender">
		<file>log/chronicreplay.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%level] [%thread] [%logger] {%msg}%n</pattern>
		</encoder>
	</appender>

	<appender name="siftingfileappender" class="ch.qos.logback.classic.sift.SiftingAppender">
    <!-- in the absence of the class attribute, it is assumed that the
         desired discriminator type is ch.qos.logback.classic.sift.MDCBasedDiscriminator -->
		<discriminator>
			<key>targetserver</key>
			<defaultValue>default</defaultValue>
		</discriminator>
		<sift>
			<appender name="${targetserver}" class="ch.qos.logback.core.FileAppender">
				<file>log/chronicreplay-${targetserver}.log</file>
				<append>false</append>
				<layout class="ch.qos.logback.classic.PatternLayout">
					<pattern>%d{HH:mm:ss.SSS} [%level] [%thread] [%logger] {%msg}%n</pattern>
				</layout>
			</appender>
		</sift>
	</appender>

    <appender name="datalogger_CSV" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>targetserver</key>
            <defaultValue>default</defaultValue>
        </discriminator>
        <sift>
            <appender name="${targetserver}" class="ch.qos.logback.core.FileAppender">
                <file>log/chronicreplay-${targetserver}.csv</file>
                <append>false</append>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%msg%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>

    <appender name="datalogger_JSON" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>targetserver</key>
            <defaultValue>default</defaultValue>
        </discriminator>
        <sift>
            <appender name="${targetserver}" class="ch.qos.logback.core.FileAppender">
                <file>log/chronicreplay-${targetserver}.json</file>
                <append>false</append>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%msg%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>

    <appender name="datalogger-samestatus" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>targetserver</key>
            <defaultValue>default</defaultValue>
        </discriminator>
        <sift>
            <appender name="${targetserver}" class="ch.qos.logback.core.FileAppender">
                <file>log/chronicreplay-${targetserver}-sameStatus.csv</file>
                <append>false</append>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%msg%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>

    <logger name="RESULTDATA_CSV" level="debug">
        <appender-ref ref="datalogger_CSV" />
    </logger>

    <logger name="RESULTDATA_JSON" level="debug">
        <appender-ref ref="datalogger_JSON" />
    </logger>

    <logger name="RESULTDATA_SAMESTATUS" level="debug">
        <appender-ref ref="datalogger-samestatus" />
    </logger>

	<root level="info">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="logfile"/>
		<appender-ref ref="siftingfileappender"/>
	</root>
	
	<logger name="ch.qos.logback" level="warn" additivity="false" />
	
</configuration>
